.dropbox
.DS_Store
.vs
/node_modules
/website/**/beepbox*.js
/website/**/beepbox*.js.map
/website/beepbox_offline.html
/website/jummbox_offline.html
/editor/*.js
/player/*.js
/synth/*.js
/editor/*.js.map
/player/*.js.map
/synth/*.js.map
/**/*.ts.bak
/**/*.html.bak
/build

# Offline resources
/offline/resources/*.js
/offline/resources/*.min.js
/offline/resources/*.html
/offline/resources/*.png
!/offline/resources/icons
!/offline/resources/index.html
!/offline/resources/main.js
!/offline/resources/neutralino.d.ts

/offline/resources/player/*
!/offline/resources/player/index.html

/offline/resources/samples/*

/offline/.tmp

# Neutralinojs binaries and builds
/offline/bin
/offline/dist

# Neutralinojs related files
.storage
*.log
